/* Add custom styles here */
body {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

a {
    color: #0072c6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    font-family: Consolas, "Courier New", monospace;
    background-color: #f7f7f7;
    border-radius: 3px;
    padding: 2px 4px;
}

pre {
    background-color: #f7f7f7;
    border-radius: 3px;
    padding:2em;
}

#response-output {
    margin-top: 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;

}