/* Global Styles */

html,
body {
height: 100%;
}

body {
font-family: "Roboto", sans-serif;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
background-color: #f8f9fa;
}

a {
color: #0d6efd;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Header Styles */

.navbar {
background-color: #fff;
border-bottom: 1px solid #dee2e6;
}

.navbar-brand {
font-size: 2rem;
font-weight: 700;
}

/* Main Content Styles */

section {
background-color: #fff;
border-radius: 0.5rem;
box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
padding: 2rem;
margin-bottom: 2rem;
}

h1.display-3 {
font-size: 3.5rem;
font-weight: 500;
margin-bottom: 2rem;
}

table {
width: 100%;
}

th {
font-weight: 700;
}

/* Footer Styles */

footer {
background-color: #fff;
border-top: 1px solid #dee2e6;
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5;
text-align: center;
color: #6c757d;
margin-top: 2rem;
padding: 1rem 0;
}

@media (min-width: 992px) {
.container {
max-width: 970px;
}
}

@media (min-width: 1200px) {
.container {
max-width: 1170px;
}
}
#response-output {
    margin-top: 0;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;

}
#toggle-nav{


}
  body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  

  .main-element {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid black;
  }
  
  nav {
    width: 200px;
    height: 100vh;
    margin-top: 50px;
    background-color: #eee;
    position: fixed;
    top: 0;
    left: -200px;
    transition: all 0.5s ease;
  }
  
  nav.show {
    left: 0;
  }
  
  footer {
    background-color: #ccc;
    padding: 20px;
  }
  
  .page-title {
    position: fixed;
    background-color:#f8f9fa;
    height: 50px;
    width: 100%;
  }